@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* font */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

hr {
  border: 1.5px solid #101014;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f6f5f7;
  color: #000;
  /* background-color: #0d0d0d; */
  transition: 0.2s linear;
}

/* theme toggle styling */
.dark {
  background: #292C35;
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #292C35;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 20px;
  width: 40px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  transform: translateX(20px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(0px);
}



/* theme toggle styling end */

.introductory-text {
  padding-top: 10px;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  font-family: 'poppins';
  font-size: 1.2rem;
  line-height: 1.8;
}

.sc-h2 {
  margin-top: 20px;
  font-family: 'Poppins';
  text-align: center;
}

.header-content {
  width: 1440px;
  max-width: 100%;
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  background: #000000;
  color: white;
  z-index: 999;
  margin: 0 auto;
  /* margin: 0px 293px;
  left: 293px; */
}

.nav-lists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    list-style-type: none;
}

main {
  width: 1440px;
  max-width: 100%;
  /* background-color: #0d0d0d; */
  margin: 0px auto;
}

.brand-logo {
  width: 45px;
  height: 40px;
  border-radius: 50%;
}

.brand-name {
  font-family: 'Caveat', cursive;
  font-size: 1.6rem;

}

.brand-name-logo {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.search-menu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  /* left: 310px;
  right: 0;
  padding: 5px; */
}


.menu-dropdown {
  display: none;
  background: #0d0d0d;
  position: absolute;
  padding: 12px;
  top: -25px;
  width: 100vw;
  height: 100vh;
  right: -10px;
  text-align: center;
  font-size: 2rem;
  opacity: 0.9;
  /* margin: 0 -20px; */
}

.theme-navigator-container{
  padding-right: 15px;
}


.menu-dropdown>ul>li {
  list-style-type: none;
  padding: 20px 0px;
  margin-top: 5px;

}

a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

a:after {
  content: "";
  position: absolute;
  background-color: #0f95ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover {
  color: #ffffff;
}

a:hover:after {
  width: 100%;
}

a.active{
  color: #ffffff;
}

a.active::after{
  width: 100%;
}

.menu-dropdown>ul>li:hover {
  background-color: #fff;
  /* color: #0d0d0d; */
  border-radius: 5px;

}

.menu-dropdown>ul>li:active {
  background-color: #fff;
  /* color: #0d0d0d; */
  border-radius: 5px;

}

.dropdown-lists {
  margin-top: 40px;
}

.x-icon {
  float: left;
  margin-top: 10px;
  border: none;
  background: none;
}

.x-icon > svg{
  background: none;
  border-radius: 5px;
  border: 3px solid sandybrown;
  box-shadow: 0px 0px 10px 0px darkgoldenrod;
}



.ad-image>img {
  width: 100%;
  height: 600px;
  margin-top: 0;
  object-fit: fill;
}


.seafood-collection {
/*   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px; */

  display: grid;
  place-items: center;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr;
  gap: 8px;
  grid-auto-flow: dense;
  padding: 10px;
  justify-content: space-around;
  align-content: center;

}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;
  border-radius: 10px;
  margin: 5px 0px;
  box-shadow: 5px 5px 15px 0px black;
  /* flex-grow: 1; */
}

.container-card:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.container-card:active {
  transform: scale(0.6);
  transition: 1s ease;
}

.img-collection-size {
  width: 110px;
  height: 110px;
  object-fit: fill;
  border-radius: 10px 10px 0px 0px;
}

.details-container {
  margin-top: 10px;
  padding: 10px 0px;
  font-family: 'Poppins', sans-serif;
}

.about-section {
  text-align: center;
  padding: 20px;
  /* background-color: #0d0d0d; */
  font-family: 'Poppins';
  line-height: 1.7;
}

.about1 {
  padding: 20px;
}

.about2 {
  padding: 18px;
}

.sub-about {
  padding-bottom: 20px;
}

.contact {

  padding: 15px;

}

.contact>p {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

.profile-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

.shop-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.map {
  border: 0;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.opening-hrs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0px;
}

.opening-hrs>p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;

}

/* .time-svg{
  background-color: #4070f4;
} */


.footer {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 75px;
}


/* swiper */
/* .review-section {
    position: relative;
    z-index: -1;
    background-color: #e3f2fd;
  } */

.testimonial {
  position: relative;
  background: #b7e0fe;
  color: #292C35;
  /* max-width: 900px; */
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}


.testimonial h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -30px;
}

.testimonial .image {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

.slide p {
  text-align: center;
  padding: 0 60px;
  font-size: 14px;
  font-weight: 400;
}

/* .slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
  } */
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  /* color: #fff; */
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 60px;
  }

  .nav-btn::after,
  .nav-btn::before {
    display: none;
  }
}





/*  */




/* for validation start */

.form-container {
  padding: 0px 20px;
  width: 50%;
  margin: auto;
}

.email-input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 6px;
  border: 2px solid black;
  outline: none;
  color: black;
}


.subscribe-div>button {
  padding: 20px;
  background: rgb(35 39 65);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: .3s;
  margin-top: 6px;
}

.success-container {
  width: 50%;
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  margin: 10px auto;

}

.success-container button {

  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(35 39 65);
  color: aliceblue;
  cursor: pointer;
}

.success-container p {
  margin-top: 0;
  font-size: 15px;

}

.success-container>button:hover,
.subscribe-div>button:hover {
  box-shadow: 0px 0px 6px 3px #ff5e59;
  background-color: #ff5e59;
}

span {
  float: right;
}




.input-control.success>input {
  border-color: #09c372;
}

.input-control.error>input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 0.9rem;
  height: 13px;

}

.input-control .success {
  color: #09c372;
  font-size: 0.9rem;
  height: 13px;

}


/* hidden and show class */
.hidden {
  display: none;
}

.active {
  display: block;
}

/* hidden and show class end */







/* form validation end */



/* SOCIAL PANEL STYLYING START */

/* SOCIAL PANEL CSS */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 130px;
  width: 300px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  color: #554949;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: #000000;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #FF7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 10px 0;
  color: #333e5f;
  font-family: 'Muli';
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 15px;
}

.social-panel ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #DCE1F2;
  border-radius: 50%;
  color: #040810;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #013994;
  box-shadow: 0 9px 12px -9px #0091ff7c;
}

.profile-links>#profile-link>svg:hover {
  transform: scale(1.4);
  transition: .3s ease-in;
}

.profile-links>#profile-link>svg:active {
  transform: scale(1.4);
  transition: .3s ease-in;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: 4px 11px 16px 0px #03153B;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001F61;
}

.floating-btn:focus {
  outline: none;
}

    @media screen and (max-width: 480px) {
  
      .social-panel-container.visible {
        transform: translateX(0px);
      }
  
      .floating-btn {
        left: 10px;
      }
    }
  
    /* SOCIAL PANEL STYLING END */
  
  
    /* top button styling */
    #progress {
      position: fixed;
      bottom: 20px;
      right: 10px;
      height: 70px;
      width: 70px;
      display: none;
      place-items: center;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  
    #progress-value {
      display: block;
      height: calc(100% - 15px);
      width: calc(100% - 15px);
      background-color: #ffffff;
      border-radius: 50%;
      display: grid;
      place-items: center;
      font-size: 35px;
      color: #001a2e;
    }
  
    /*  top button end */




